<template name="layout">

    {{#if currentUser}}

        {{> dashboard}}
    {{else}}

        {{> login}}
    {{/if}}


</template>

<template name='dashboard'>
    <div id="wrapper">

        {{ > sidebarMenu}}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {{> yield}}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</template>
