<template name='login'>
    <div class="container">

      <form id="login-form">
        <h2 class="login-form-heading">Login.</h2>
        <label for="login-username" class="sr-only">Email address</label>
        <input type="text" id="login-username" class="form-control" placeholder="Username" required autofocus>
        <label for="login-password" class="sr-only">Password</label>
        <input type="password" id="login-password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id='login-submit'>Sign in</button>
      </form>

    </div>
</template>
