<template name='sidebarMenu'>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">

        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    MedCenter Plus Yo
                </a>
            </li>
            <li>
                {{> patientSidebarSelect}}
            </li>
            <li>
              <a href="/addPatient">Add Patient</a>
            </li>
            <li>
              <a href="/advancedSearch">Advanced Search</a>
            </li>
            {{#if currentPatientSelected}}

            <li>
              <a href="/updatePatient">Update Patient Record</a>
            </li>
            <li>
              <a href="/addVisit">Add Visit</a>
            </li>
            <li>
              <a href="/viewVisits">View Visits</a>
            </li>

            {{/if}}

            <li>
              <a onClick='Meteor.logout()'>Logout</a>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
</template>
