<template name='sidebarMenu'>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">

        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    MedCenter Plus Yo
                </a>
            </li>
            <li>
                {{> patientSidebarSelect}}
            </li>
            <li>
              <a href="/addPatient">Add Patient</a>
            </li>
            <li>
              <a href="/advancedSearch">Advanced Search</a>
            </li>
            {{#if currentPatientSelected}}

            <li>
              <a href="/updatePatient">Update Patient Record</a>
            </li>
            <li>
              <a href="/addVisit">Add Visit</a>
            </li>

            {{/if}}

            <li>
              <a href="/tables">View Tables</a>
            </li>
            <li>
              <a onClick='Meteor.logout()'>Logout</a>
            </li>
<!--
            <li>
                <a href="/book-event">Select Patient</a>
            </li>
            <li>
                <a href="/cancel-event">Cancel an Event</a>
            </li>
            <li>
                <a href="/register-attendee">Register an Attendee</a>
            </li>
            <li>
                <a href="/search">Search</a>
            </li>
            <li>
                <a onClick='Meteor.logout()'>Logout</a>
            </li>
            <li>
                <a href="/collections-view">View All Collections</a>
            </li>
-->
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
</template>
