<template name="addPatient">

  {{#autoForm collection="Patients" id="insertPatientForm" type="insert"}}
    <fieldset>
      <legend>Add A New Patient</legend>
      <div class='row'>
        <div class='col-sm-6'>
          {{> afQuickField name="firstName"}}
        </div>
        <div class='col-sm-6'>
          {{> afQuickField name="lastName"}}
        </div>
    </div>
      {{> afQuickField name="dateOfBirth" type="date"}}
      {{> afQuickField name="patientNum"}}
      {{> afQuickField name="gender" options=genderOption noselect="true"}}
      {{> afQuickField name="primaryProvider"}}
      {{> afQuickField name="secondaryProvider"}}
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>

  {{/autoForm}}

</template>
