<template name="advancedSearch">

    {{#autoForm schema="Schemas.AdvancedSearch" id="advancedSearchForm" type="normal"}}
    <fieldset>
      <legend>Advanced Search</legend>
      <div class='row'>
        <div class='col-sm-6'>
        {{>afQuickField name="gender"}}
        {{>afQuickField name="primaryProvider"}}
        </div>
        <div class='col-sm-6'>
          {{>afQuickField name="studyType"}}
          {{>afQuickField name="secondaryProvider"}}
        </div>
      </div>

      <div class='row'>
        <div class='col-sm-4'>
          {{>afQuickField name="dobRange"}}
        </div>
        <div class='col-sm-4'>
            {{>afQuickField name="conditions"}}
        </div>
        <div class='col-sm-4'>
        {{>afQuickField name="icd9Primary"}}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

    </fieldset>
    {{/autoForm}}
    {{>quickForm schema='Schemas.queryOptions' id="queryOptionsForm" type='readonly' buttonContent='false'}}

</template>

<template name="advancedSearchResultsModal">

  <div id='advancedSearchResults-modal' class="modal fade">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">

              <div class="modal-header">
                  <h4 class="modal-title">Select Patient</h4>
                  <h5 class="modal-title">Current Patient: {{currentPatientName}}</h5>
              </div>

              <div class="modal-body">
                {{> tabular table=TabularTables.AdvancedSearch selector=advancedSelector class="table table-striped table-bordered"}}
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>

          </div>
      </div>
  </div>

</template>
