

<template name="patientSelectModal">

    <div class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Select Patient</h4>
                    <h5 class="modal-title">Current Patient: {{currentPatientName}}</h5>

                </div>

                <div class="modal-body">
<!--
  Testing table without class=condensed
                  {{> tabular table=TabularTables.Patients class="table table-hover table-striped table-bordered table-condensed"}}
-->
                  {{> tabular table=TabularTables.Patients class="table table-hover table-striped table-bordered"}}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</template>
