<template name="tables">

  <h2>Add Patients</h2>

  {{> patientsTableAndForm}}

  <h2>Add Providers</h2>

  {{> providersTableAndForm}}

</template>

<template name="patientsTableAndForm">

  {{#autoForm collection="Patients" id="insertPatientForm" type="insert"}}
    <fieldset>
      <legend>Add A Patient</legend>
      {{> afQuickField name="firstName"}}
      {{> afQuickField name="lastName"}}
      {{> afQuickField name="dateOfBirth"}}
      {{> afQuickField name="gender" options=genderOption noselect="true"}}
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>

  {{/autoForm}}

</template>

<template name="providersTableAndForm">

  {{#autoForm collection="Providers" id="insertProvidersForm" type="insert"}}
    <fieldset>
      <legend>Add a Provider</legend>
      {{> afQuickField name="firstName"}}
      {{> afQuickField name="lastName"}}
      {{> afQuickField name="clinicNumber" options=clinicSelectOption noselect="true"}}
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>

  {{/autoForm}}

  <br />

  {{> tabular table=TabularTables.Providers class="table table-striped table-bordered table-condensed"}}
</template>
