<template name="updatePatient">

{{#autoForm collection="Patients" doc=currentPatientDoc id="updatePatientForm" type="update"}}
  <fieldset>
    <legend>Update Patient Record: {{currentPatientName}}</legend>
    <div class='row'>

      <div class='col-sm-6'>
        {{> afQuickField name='height'}}
        {{> afQuickField name='primaryProvider'}}
        {{> afArrayField name='conditions'}}
      </div>
      <div class='col-sm-6'>
        {{> afQuickField name='weight'}}
        {{> afQuickField name='secondaryProvider'}}
        {{> afArrayField name='assistiveDevices'}}
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </fieldset>
{{/autoForm}}



<!--
{{> quickForm id="updateConditionsForm" type="update-pushArray" collection=Patients doc=currentPatientDoc scope="conditions"}}
-->

</template>
