
<template name="viewVisits" id='viewVisitTemplate'>

  <h4> Visits for patient: {{currentPatientName}}</h4>
  <br />
  {{> tabular table=TabularTables.VisitsForPatient selector=visitSelector class="table table-hover table-striped table-bordered"}}

  <label>Click a visit in the table to view more information</label>

</template>

<template name="visitInfoModal">

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Current Patient: {{currentPatientName}}</h5>

                </div>

                <div class="modal-body">

                {{#with getContext}}

                  <p>Visit Number: {{visitNumber}}</p>

                  <p>Study Type:</p>
                  <ul>
                  {{#each studyType}}
                    <li>{{getStudyType}}</li>
                  {{/each}}
                  </ul>

                  <p>Diagnosis(es):</p>
                  <ul>
                  {{#each diagnosis}}
                    <li>{{this}}</li>
                  {{/each}}
                  </ul>

                  <p>ICD9 Primary:</p>
                  <ul>
                  {{#each icd9Primary}}
                    <li>{{this}}</li>
                  {{/each}}
                  </ul>

                  <p>ICD9 Secondary:</p>
                  <ul>
                  {{#each icd9Secondary}}
                    <li>{{this}}</li>
                  {{/each}}
                  </ul>

                  <p>Treatment(s):</p>
                  <ul>
                  {{#each treatment}}
                    <li>{{this}}</li>
                  {{/each}}
                  </ul>

                {{/with}}

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</template>
